/* mobile */

.col-xs-1 {
    max-width: 8.33%;
    flex: 0 0 100%;
}
.col-xs-1-5 {
    max-width: 12.5%;
    flex: 0 0 100%;
}
.col-xs-2 {
    max-width: 16.67%;
    flex: 0 0 100%;
}

.col-xs-3 {
    max-width: 25%;
    flex: 0 0 100%;
}

.col-xs-4 {
    max-width: 33.33%;
    flex: 0 0 100%;
}

.col-xs-5 {
    max-width: 41.67%;
    flex: 0 0 100%;
}

.col-xs-6 {
    max-width: 50%;
    flex: 0 0 100%;
}

.col-xs-7 {
    max-width: 58.33%;
    flex: 0 0 100%;
}

.col-xs-8 {
    max-width: 66.67%;
    flex: 0 0 100%;
}

.col-xs-9 {
    max-width: 75%;
    flex: 0 0 100%;
}

.col-xs-10 {
    max-width: 83.33%;
    flex: 0 0 100%;
}

.col-xs-11 {
    max-width: 91.67%;
    flex: 0 0 100%;
}

.col-xs-12 {
    max-width: 100%;
    flex: 0 0 100%;
}

/* Tablet */

@media (min-width: 768px) {
    .col-sm-1 {
        max-width: 8.33%;
        flex: 0 0 100%;
    }
    .col-sm-1-5 {
        max-width: 12.5%;
        flex: 0 0 100%;
    }

    .col-sm-2 {
        max-width: 16.67%;
        flex: 0 0 100%;
    }
    .col-sm-3 {
        max-width: 25%;
        flex: 0 0 100%;
    }
    .col-sm-4 {
        max-width: 33.33%;
        flex: 0 0 100%;
    }
    .col-sm-5 {
        max-width: 41.67%;
        flex: 0 0 100%;
    }
    .col-sm-6 {
        max-width: 50%;
        flex: 0 0 100%;
    }
    .col-sm-7 {
        max-width: 58.33%;
        flex: 0 0 100%;
    }
    .col-sm-8 {
        max-width: 66.67%;
        flex: 0 0 100%;
    }
    .col-sm-9 {
        max-width: 75%;
        flex: 0 0 100%;
    }
    .col-sm-10 {
        max-width: 83.33%;
        flex: 0 0 100%;
    }
    .col-sm-11 {
        max-width: 91.67%;
        flex: 0 0 100%;
    }
    .col-sm-12 {
        max-width: 100%;
        flex: 0 0 100%;
    }
}

/* Laptop */

@media (min-width: 992px) {
    .col-md-1 {
        max-width: 8.33%;
        flex: 0 0 100%;
    }
    .col-md-1-5 {
        max-width: 12.5%;
        flex: 0 0 100%;
    }
    .col-md-2 {
        max-width: 16.67%;
        flex: 0 0 100%;
    }
    .col-md-3 {
        max-width: 25%;
        flex: 0 0 100%;
    }
    .col-md-4 {
        max-width: 33.33%;
        flex: 0 0 100%;
    }
    .col-md-5 {
        max-width: 41.67%;
        flex: 0 0 100%;
    }
    .col-md-6 {
        max-width: 50%;
        flex: 0 0 100%;
    }
    .col-md-7 {
        max-width: 58.33%;
        flex: 0 0 100%;
    }
    .col-md-8 {
        max-width: 66.67%;
        flex: 0 0 100%;
    }
    .col-md-9 {
        max-width: 75%;
        flex: 0 0 100%;
    }
    .col-md-10 {
        max-width: 83.33%;
        flex: 0 0 100%;
    }
    .col-md-11 {
        max-width: 91.67%;
        flex: 0 0 100%;
    }
    .col-md-12 {
        max-width: 100%;
        flex: 0 0 100%;
    }
}

/* desktop */

@media (min-width: 1200px) { 
    .col-lg-1 {
        max-width: 8.33%;
        flex: 0 0 100%;
    }
    .col-lg-1-5 {
        max-width: 12.5%;
        flex: 0 0 100%;
    }
    .col-lg-2 {
        max-width: 16.67%;
        flex: 0 0 100%;
    }
    
    .col-lg-3 {
        max-width: 25%;
        flex: 0 0 100%;
    }
    
    .col-lg-4 {
        max-width: 33.33%;
        flex: 0 0 100%;
    }
    
    .col-lg-5 {
        max-width: 41.67%;
        flex: 0 0 100%;
    }
    
    .col-lg-6 {
        max-width: 50%;
        flex: 0 0 100%;
    }
    
    .col-lg-7 {
        max-width: 58.33%;
        flex: 0 0 100%;
    }
    
    .col-lg-8 {
        max-width: 66.67%;
        flex: 0 0 100%;
    }
    
    .col-lg-9 {
        max-width: 75%;
        flex: 0 0 100%;
    }
    
    .col-lg-10 {
        max-width: 83.33%;
        flex: 0 0 100%;
    }
    
    .col-lg-11 {
        max-width: 91.67%;
        flex: 0 0 100%;
    }
    
    .col-lg-12 {
        max-width: 100%;
        flex: 0 0 100%;
    }

}